@font-face {
	font-family: 'Anivers_Regular';
	src: url(resources/Anivers_Regular.otf);
}
body {
	margin:0 auto;
	padding:0px 0px 0px 0px;
	background:#222;
	font-family:'Anivers_Regular';
	color:#161514;
	font-size:13px;
	}
iframe {
	display:block;
	margin: auto;
}
.label{
	margin-top:1cm;
	text-align: center;
	color: #ccc;
	font-size:25px;
}
#top-bar{
	background-color: #222;
	padding: 20px 0 20px;
}
#top-bar-content{
		width:830px;
		height:125px;
		margin:0px auto;
		position:relative;
}
#top-bar a.logo{
		background-image: url(resources/rt_logo.png);
		background-repeat: no-repeat;
		width:350px;
		height:125px;

		float:left;

		position:relative;
}
#nav-menu td{
	color: #ccc;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 40px;
	padding-bottom: 0px;
	display: inline-block;
	text-align: left;
}
#nav-menu a{
	font-size:25px;
	color: #ccc;
	text-decoration: none;
	-webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

#nav-menu a:hover{
  color: #06F;
}

#home-slideshow{
	background-color: #222;
	padding-bottom:30px;
}
#tail {
	margin-bottom: 2cm;
}
.slideshowPics {
	width:850px;
}
/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}s
  to {opacity: 1}
}
