@font-face {
	font-family: 'Anivers_Regular';
	src: url(resources/Anivers_Regular.otf);
}
/*Rules for the body*/
body {
	font-family:'Anivers_Regular';
	color:#ccc;
}

.default-bg{
	background: #000;
}

.home-bg{
	background: url('./resources/home-bg.jpg') no-repeat fixed;
	background-size: cover;
}

.contact-bg{
	background: url('./resources/contact-bg.jpg') no-repeat center fixed;
	background-size: cover;
}

/*Includes padding rules for the header display box */
.header { 
	position:relative;
	padding-top: 2vw;
	padding-bottom: 2vw;
	padding-left: 4vw;
	padding-right: 4vw;
}

/*Includes the title, the navbar menu, and tail */
.header-display{
	justify-content: flex-start;
	display: flex;
	flex-direction: row;
	/*opacity: 400ms cubic-bezier(.4,0,.2,1); ???*/
	
}

/*Includes the title and nav-bar as one unit*/
.header-title-nav-wrapper{
	display:flex;
	flex:1 0 67%;
	align-items:center;
	justify-content: flex-start;
}

.header-title{ /*Includes title and subtitle*/
	flex: 1 1 20%;
	width: 20%;
}

#site-title{ /*Includes title only*/
	align-items:center;
	text-decoration: none;
	font-weight: bold;
	color: #ccc;
}
#subtitle{
	float:inherit;
	align-items:center;
	margin-top:0px;
	margin-bottom:0px;
}
.header-nav{ /*navbar menu*/
	text-align: center;
	justify-content:flex-end;
	flex:1 1 34%;
	font-weight: 200;
}

.header-nav-list {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content:center;
}
.header-nav-list a{
	font-size:20px;
	margin: 10;
	color: #ccc;
	text-decoration: none;
	-webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}
.header-nav-list a:hover{
  color: #06F;
}
.header-nav-list-item{
	margin-left: .35vw;
	margin-right: .35vw;
}
.header-tail {
	flex:33%;
	justify-content: flex-end;
	display:flex;
	line-height:16px;
}
.icon {
	margin-left: 2.5vw;
}