@font-face {
  font-family: 'Montserrat';
  src: url(resources/Montserrat-VariableFont_wght.ttf);
}

/*Rules for the body*/
body {
  font-family: 'Montserrat';
  background-color: #363537;
  color: #D0CCD0;
}

#mainpage-section {
  /* Style for navigation 'bar' */
}

#mainpage-section .fp-arrow {
  visibility: hidden;
  /*hide fullpage slide arrows here only; not on gallery*/
}

#mainpage-section .nav {
  position: absolute;
  top: 30%;
  left: 10%;
  background: #363537;
  border: #363537;
  border-radius: 5px;
  padding: 10px;
  z-index: 2;
}

#mainpage-section .nav .nav-item {
  cursor: pointer;
  font-size: 24px;
}

#mainpage-section .nav .nav-item a {
  color: #ccc;
  text-decoration: none;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
  -webkit-animation: nav-animation 5s 1;
          animation: nav-animation 5s 1;
}

#mainpage-section .nav .nav-item a:hover {
  color: #06F;
}

@-webkit-keyframes nav-animation {
  0% {
    color: #363537;
  }
  50% {
    color: #363537;
  }
}

@keyframes nav-animation {
  0% {
    color: #363537;
  }
  50% {
    color: #363537;
  }
}

@media only screen and (max-width: 650px) {
  #mainpage-section {
    /* For mobile phones: */
  }
  #mainpage-section .nav {
    left: 5%;
  }
}

#mainpage-section #about-section {
  background-size: cover;
  z-index: 1;
  /*Currently the photo starts at 50% into the page from the left.  How do I stop this for mobile?
        If it's mobile, how do I set the value of left to 100%?  Perhaps if(total width of page < 500) or sim?
        That way I can also control how the text reacts as well as the 'nav' bar section.
        */
}

#mainpage-section #about-section #about-name {
  background-color: #363537;
  border-radius: 5px;
  z-index: 1000;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 10%;
  letter-spacing: 8px;
  font-size: 36px;
  font-weight: 700;
  padding: 5px;
  -webkit-animation: text-from-left 3s 1;
          animation: text-from-left 3s 1;
}

#mainpage-section #about-section #about-photo {
  display: block;
  height: 100vh;
  margin-left: auto;
  padding-left: 40vw;
  margin-right: auto;
  background-attachment: fixed;
  -webkit-animation: image-from-right 3s 1;
          animation: image-from-right 3s 1;
}

@media only screen and (max-width: 884px) {
  #mainpage-section #about-section #about-photo {
    max-width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  #mainpage-section #about-section {
    /* For mobile phones: */
  }
  #mainpage-section #about-section #about-photo {
    padding-left: 0;
    max-width: 100%;
    height: auto;
  }
  #mainpage-section #about-section #about-name {
    letter-spacing: 0px;
    font-size: 24px;
  }
}

@-webkit-keyframes image-from-right {
  0% {
    color: black;
    padding-left: 100vw;
  }
}

@keyframes image-from-right {
  0% {
    color: black;
    padding-left: 100vw;
  }
}

@-webkit-keyframes text-from-left {
  0% {
    color: black;
    left: -100vw;
  }
  30% {
    letter-spacing: 0px;
  }
}

@keyframes text-from-left {
  0% {
    color: black;
    left: -100vw;
  }
  30% {
    letter-spacing: 0px;
  }
}

#media-section #media-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#media-section #media-wrapper #media-video {
  position: relative;
  background-color: black;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

#media-section #media-wrapper #media-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#media-section #media-wrapper #media-nav {
  background-color: #D0CCD0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#media-section #media-wrapper #media-nav p {
  color: black;
  text-align: center;
  margin-left: 5px;
  font-size: calc(min(1.6vw,16px));
  font-weight: 700;
}

#media-section #media-wrapper #media-nav button {
  width: 100%;
  text-align: center;
  font-size: 100%;
  font-size: calc(min(1.5vw,16px));
  font-family: 'Montserrat';
  border: none;
  background: none;
  text-decoration: none;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

#media-section #media-wrapper #media-nav button:nth-of-type(2n-1) {
  background: #FBFCFF;
}

#media-section #media-wrapper #media-nav button:hover {
  color: #06F;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #media-section #media-wrapper {
    /* For mobile phones: */
  }
  #media-section #media-wrapper #media-nav p {
    font-size: 14px;
    margin-bottom: 0;
    vertical-align: middle;
  }
  #media-section #media-wrapper #media-nav button {
    font-size: 12px;
    height: 100%;
  }
}

@media only screen and (max-width: 800px) {
  #media-section {
    /* For mobile phones: */
  }
  #media-section #media-wrapper {
    display: block;
    width: 100%;
  }
  #media-section #media-nav {
    font-size: 16px;
    height: 100%;
  }
}

#gallery-section img {
  height: 80%;
  margin-top: 10vh;
  margin-bottom: 40px;
  vertical-align: middle;
  -o-object-fit: contain;
     object-fit: contain;
}

#gallery-section .fp-arrow {
  padding-left: 100px;
}

@media only screen and (max-width: 800px) {
  #gallery-section {
    /* For mobile phones: */
  }
  #gallery-section .fp-arrow {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 650px) {
  #gallery-section {
    /* For mobile phones: */
  }
  #gallery-section .fp-arrow {
    margin-top: 200px;
  }
}

#bio-slide {
  margin: 50px;
}

#bio-slide #bio-nav a {
  color: #ccc;
  text-decoration: none;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

#bio-slide #bio-nav a:hover {
  color: #06F;
  cursor: pointer;
}

#bio-slide #bio-photo {
  padding-right: 15px;
  float: left;
  width: 50%;
}

#bio-slide #bio-photo img {
  width: 100%;
}

#bio-slide #bio-text {
  text-align: justify;
}

#repertoire-section {
  display: block;
  margin: 20px;
  height: 100%;
  width: auto;
  padding: 0;
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
}

#repertoire-section .accordion {
  background-color: #444;
  color: #ccc;
  cursor: pointer;
  font-family: 'Montserrat';
  width: 100%;
  margin-bottom: 3px;
  border: none;
  outline: none;
  height: 10%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#repertoire-section .active, #repertoire-section .accordion:hover {
  background-color: #656565;
}

#repertoire-section .repertoire-list {
  background-color: #363537;
  display: none;
  overflow: hidden;
  margin: 0;
}

#repertoire-section .repertoire-list ul {
  columns: 2;
  padding-left: 0;
  -webkit-columns: 2;
  -moz-columns: 2;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  #repertoire-section .repertoire-list {
    /* For mobile phones: */
  }
  #repertoire-section .repertoire-list ul {
    -webkit-columns: 1;
            columns: 1;
  }
}

#repertoire-section .repertoire-list li {
  text-align: left;
  list-style: none;
}

#repertoire-section .repertoire-list li a {
  color: #E75A7C;
  text-decoration: none;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

#repertoire-section .repertoire-list li a:hover {
  color: #06F;
}

#repertoire-section #audition-works ul {
  -webkit-columns: 3;
          columns: 3;
  font-size: 90%;
}

@media only screen and (max-width: 900px) {
  #repertoire-section {
    /* For mobile phones: */
  }
  #repertoire-section #audition-works ul {
    -webkit-columns: 2;
            columns: 2;
  }
}

@media only screen and (max-width: 650px) {
  #repertoire-section {
    /* For mobile phones: */
  }
  #repertoire-section #audition-works ul {
    -webkit-columns: 1;
            columns: 1;
  }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}

.fp-watermark a {
  font-size: 0.75vw;
}

.fp-watermark a:before {
  font-size: 0.75vw;
  content: 'Site designed by Ryan Tani, ';
}
/*# sourceMappingURL=stylesheet.css.map */